<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add</title>
</head>
<body>
    <section class="addBlog-section">
        <div class="container">
            <h1 class="addBlog-title">Add Blog</h1>

            <form action="/admin/blogs" method="POST" class="addBlog-form">
                <input type="text"  placeholder="Title" name="title">
                <textarea placeholder="Description..." name="description"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
    </section>
    {{>footer}}
</body>
</html>