<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Reader</a>
        <ul class="navbar-items">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="/blogs">Blogs</a></li>
        </ul>
    </div>
</nav>